<header>
  <div class="grid">
    <div class="col">
      <div class="logo">
        <img src="assets/images/NJ-Pot-Shop-Logo.png" alt="logo" [routerLink]="['/']" />
      </div>
    </div>
    <!-- <div class="col"><products-search></products-search></div> -->

    <div class="col cart-symbol" (click)="goToCart()"><span class="cart-count">{{cartCount}}</span></div>
    <div class="col navigation">

      <button type="button" pButton pRipple icon="pi pi-bars" label="" (click)="menu.toggle($event)"></button>
      <p-menu #menu [popup]="true" [model]="items"></p-menu>
    </div>
  </div>
</header>
