<footer>
  <div class="grid footer-wrapper">
    <div class="col-4">
      <div class="logo">
        <img src="assets/images/NJ-Pot-Shop-Logo.png" width="135" alt="logo" [routerLink]="['/']" />
      </div>
    </div>
    <div class="col-8 text-right">

      <div class="social-link"><a class="social-link" href="tel:8624625979">(862) 462-5979</a></div>
      <div class="social-link"><a class="social-link" href="https://www.instagram.com/njpotshop/"><i
            class="pi pi-instagram"></i> NJ Pot Shop</a></div>
      <div class="social-link"><a class="social-link smaller" href="mailto:info@njpotshop.com">info@njpotshop.com</a>
      </div>

    </div>
    <div class="col-12 text-center">&copy;2022 NJ Pot Shop</div>

  </div>
</footer>
