<div class="admin-page" *ngIf="statistics.length">
  <p-card class="main-card" header="Dashboard" subheader="Latest Updates">
    <div class="items-grid">

      <div class="d-item" [routerLink]="['/orders']">
        <div class="name">Orders</div>
        <div class="number">{{ statistics[0] }}</div>
      </div>

      <div class="d-item" [routerLink]="['/products']">
        <div class="name">Products</div>
        <div class="number">{{ statistics[1] }}</div>
      </div>

      <div class="d-item" [routerLink]="['/users']">
        <div class="name">Users</div>
        <div class="number">{{ statistics[2] }}</div>
      </div>

      <div class="d-item" [routerLink]="['/sales']">
        <div class="name">Sales</div>
        <div class="number">{{ statistics[3] | number: '1.2-2' }}</div>
      </div>

    </div>
  </p-card>
  <p-card class="main-card report-area" [header]="reportHeader" [subheader]="reportSubHeader">


  </p-card>
</div>
