<p-toast></p-toast>
<div class="admin-page">
  <p-card [header]="editmode ? 'Edit User' : 'Add User'" subheader="You can add or edit users here">
    <div class="grid p-mb-5">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left"></div>
          <div class="p-toolbar-group-right">
            <p-button styleClass="p-button-primary p-mr-2" [label]="editmode ? 'Update' : 'Create'" icon="pi pi-plus"
              (click)="onSubmit()"></p-button>
            <p-button styleClass="p-button-secondary" label="Cancel" icon="pi pi-arrow-circle-left"
              (click)="onCancel()"></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <form [formGroup]="form">
          <div class="p-fluid p-formgrid grid">
            <div class="p-field col-4">
              <label for="name">Full Name</label>
              <input formControlName="fullName" id="name" type="text" pInputText />
              <!-- <small *ngIf="userForm['name'].invalid && isSubmitted" class="p-error">Name is required</small> -->
            </div>
            <div class="p-field col-4">
              <label for="phoneNumber">Phone Number</label>
              <input formControlName="phoneNumber" id="phoneNumber" type="text" pInputText />
              <!--  <small *ngIf="userForm['email'].invalid && isSubmitted" class="p-error"><span
                  *ngIf="userForm['email'].errors && userForm['email'].errors['required']">email is required</span>
                <span *ngIf="userForm['email'].errors && userForm['email'].errors['email']">email is
                  invalid</span></small> -->
            </div>
            <div class="p-field col-4">
              <label for="password">Password</label>
              <input formControlName="password" id="password" type="text" pInputText />
              <small *ngIf="userForm['password'].invalid && isSubmitted" class="p-error">Password is required</small>
            </div>
            <div class="p-field col-4">
              <label for="isAdmin">Is Admin</label><br />
              <p-inputSwitch formControlName="isAdmin"></p-inputSwitch>
            </div>
          </div>
          <div class="p-fluid p-formgrid grid">
            <div class="p-field col-4">
              <label for="street">Street Address</label>
              <input formControlName="streetAddress" id="streetAddress" type="text" pInputText />
            </div>
            <div class="p-field col-4">
              <label for="street">Apartment or Unit</label>
              <input formControlName="aptOrUnit" id="aptOrUnit" type="text" pInputText />
            </div>
            <div class="p-field col-4">
              <label for="street">Zip Code</label>
              <input formControlName="zipCode" id="zipCode" type="text" pInputText />
            </div>
            <div class="p-field col-4">
              <label for="city">City</label>
              <input formControlName="city" id="city" type="text" pInputText />
            </div>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
