<p-toast></p-toast>
<div class="admin-page">
  <p-card header="Delivery Zip Codes" subheader="List of all delivery zip codes">
    <div class="grid">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <p-button styleClass="p-button-success" label="New" icon="pi pi-plus" routerLink="form"></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <p-table [paginator]="true" [totalRecords]="totalRecords" [(first)]="first" [rows]="10" [value]="deliveries"
          styleClass="p-datatable-gridlines" [globalFilterFields]="['name','category.name','isFeatured','countInStock']"
          paginatorPosition="bottom">
          <ng-template pTemplate="caption">
            <div class="flex">
              <span class="p-input-icon-left p-ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')"
                  placeholder="Search keyword" />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th [pSortableColumn]="'zipCode'">
                <div class="p-d-flex p-jc-between p-ai-center">
                  Zip Code <p-sortIcon field="zipCode"></p-sortIcon>
                  <p-columnFilter type="text" field="zipCode" display="menu"></p-columnFilter>
                </div>
              </th>
              <th>City</th>
              <th>Price</th>
              <th></th>
              <!--             <th>
              <div class="p-d-flex p-jc-between p-ai-center">
                Agent
                <p-columnFilter field="representative" matchMode="in" display="menu" [showMatchModes]="false"
                  [showOperator]="false" [showAddButton]="false">
                  <ng-template pTemplate="header">
                    <div class="p-px-3 p-pt-3 p-pb-0">
                      <span class="p-text-bold">Agent Picker</span>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                    <p-multiSelect [ngModel]="value" [options]="representatives" placeholder="Any"
                      (onChange)="filter($event.value)" optionLabel="name">
                      <ng-template let-option pTemplate="item">
                        <div class="p-multiselect-representative-option">
                          <span class="p-ml-1">{{option.name}}</span>
                        </div>
                      </ng-template>
                    </p-multiSelect>
                  </ng-template>
                </p-columnFilter>
              </div>
            </th> -->
            </tr>
          </ng-template>



          <!--           <ng-template pTemplate="header">
            <tr>
              <th [pSortableColumn]="'name'">Name <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th>Image</th>
              <th>Price</th>
              <th>Stock</th>
              <th [pSortableColumn]="'category.name'">
                Category <p-sortIcon field="category.name"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'isFeatured'">
                Featured <p-sortIcon field="isFeatured"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'dateCreated'">
                Created on <p-sortIcon field="dateCreated"></p-sortIcon>
              </th>
              <th></th>
            </tr>
          </ng-template> -->


          <ng-template pTemplate="body" let-delivery>
            <tr>
              <td>{{ delivery.zipCode }}</td>
              <td>{{ delivery.city }}</td>
              <td>{{ delivery.price }}</td>
              <td>
                <p-button (click)="deleteDelivery(delivery.id)" styleClass="p-button-danger p-mr-2" icon="pi pi-trash">
                </p-button>
                <p-button (click)="updateDelivery(delivery.id)" styleClass="p-button-success" icon="pi pi-pencil">
                </p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>
<p-confirmDialog [style]="{ width: '50vw' }" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>
