footer {
  background-color: var(--yellow-100);
  min-height: 50px;
  padding: 10px 25px;
  width: 100%;
  margin-top: 25px;
  font-family: Poppins, sans-serif !important;

  .footer-wrapper {
    align-items: center;


    .social {
      margin-top: 30px;
    }

    div.social-link {
      font-family: Poppins, sans-serif !important;
      margin-bottom: 30px;

      a.social-link {
        font-family: Poppins, sans-serif !important;
        font-size: 22px;
        color: $dark-green;

        i.pi-instagram {
          font-size: 22px;
          color: $dark-green;
        }


      }

      a.smaller {
        font-size: 16px;
      }

    }


    div.social-link:first-of-type {
      margin-top: 5px;
    }

    div.social-link:last-of-type {
      margin-top: 10px;
      margin-bottom: 0;

    }

  }
}
