footer {
  background-color: var(--yellow-100);
  min-height: 50px;
  padding: 10px 25px;
  width: 100%;
  margin-top: 25px;
  font-family: "Merriweather Sans", sans-serif !important;

  .footer-wrapper {
    align-items: center;


    .social {
      margin-top: 30px;
    }

    div.social-link {
      font-family: "Merriweather Sans", sans-serif !important;
      margin-bottom: 15px;

      a.social-link {
        font-family: "Merriweather Sans", sans-serif !important;
        font-size: 22px;
        color: $dark-green;

        i.pi-instagram {
          font-size: 22px;
          color: $dark-green;
        }
      }

    }

  }
}
