header {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 15px;

  .logo {
    img {
      width: 125px;
    }
  }

  .search {
    padding-top: 25px;
  }

  .navigation {
    padding-top: 15px;
    padding-right: 23px;
    text-align: right;
    max-width: 90px !important;
  }

  .tools {
    padding-top: 38px;

    .pi {
      margin-right: 10px;
    }
  }

  .icon {
    height: 28px;
    width: 28px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &.product-icon {
      background-image: url('../../../../apps/ngshop/src/assets/images/icons/products-icon.png');
    }

    &.designer-icon {
      background-image: url('../../../../apps/ngshop/src/assets/images/icons/designer-icon.png');
    }

    &.edible-icon {
      background-image: url('../../../../apps/ngshop/src/assets/images/icons/edible-icon.png');
    }

    &.concentrate-icon {
      background-image: url('../../../../apps/ngshop/src/assets/images/icons/concentrate-icon.png');
    }

    &.cartridge-icon {
      background-image: url('../../../../apps/ngshop/src/assets/images/icons/cartridge-icon.png');
    }

    &.login-icon {
      background-image: url('../../../../apps/ngshop/src/assets/images/icons/login-icon.png');
    }

    &.logout-icon {
      background-image: url('../../../../apps/ngshop/src/assets/images/icons/logout-icon.png');
    }

    &.register-icon {
      background-image: url('../../../../apps/ngshop/src/assets/images/icons/register-icon.png');
    }

    &.pre-roll-icon {
      background-image: url('../../../../apps/ngshop/src/assets/images/icons/pre-rolls-icon.png');
    }

    &.specials-icon {
      background-image: url('../../../../apps/ngshop/src/assets/images/icons/specials-icon.png');
    }

    &.faq-icon {
      background-image: url('../../../../apps/ngshop/src/assets/images/icons/faq-icon.png');
    }

    &.contact-icon {
      background-image: url('../../../../apps/ngshop/src/assets/images/icons/contact-icon.png');
    }
  }
}

header .p-button-icon-only {
  width: 65px !important;
  padding: 21px 0 !important;
  background-color: $dark-green;
  margin-top: 7px;
  margin-right: 10px;

  & .pi-bars {
    font-size: 28px;
  }
}

.p-button-icon.pi.pi-bars {
  font-size: 24px !important;
}

.p-menuitem-link {
  padding: 5px !important;
}

.p-menuitem-text {
  font-size: 21px !important;
  font-weight: 600 !important;
}

.p-menu.p-component {
  width: 250px;
}

.cart-symbol {
  text-align: right;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 10px;
  background-size: 80px auto;
  background-image: url('../../../../apps/ngshop/src/assets/images/icons/cart-icon.png');
}

.cart-count {
  text-align: center;
  width: 30px;
  display: inline-block;
  position: relative;
  font-weight: 700;
  color: white;
  font-size: 20px;
  top: 24px;
  right: 11px;
}
