.admin {
  &-wrapper {
    height: 100%;
    padding: 0;
    margin: 0;
  }

  &-main {
    width: 100%;
  }



  &-page {
    padding-left: 15px;
    padding-right: 15px;

    & .p-card-body {
      padding-top: 0 !important;
    }
  }
}
