$alert-color: #ff3a00;
$alert-color-dark: #af2900;

$primary-color: yellow;

$black: #1b261e;
$dark-green: #174b00; // rgb(23,,75,0)
$med-green: #98c77a; // rgb(152,199,122)
$light-green: #c1d5b9; // rgb(193,213,185)
$med-grey: #c1d5b9; // rgb(121,144,129)
$brown: #72601b; // rgb(114,96,27)
