html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Merriweather Sans', sans-serif !important;
  font-size: 14px;
  background-color: rgb(193, 213, 185, .8);
}

.p-card {
  box-shadow: none;
}

a {
  text-decoration: none;
}


// ng-trigger ng-trigger-overlayAnimation ng-tns-c66-1
.p-dropdown-panel {
  min-height: 275px;
}
