// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:wght@300;600&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


h1 {
  color: $dark-green;
}


h2.primary-heading {
  color: $dark-green;
  font-size: 30px;
}

h3.product-name {

  color: $dark-green;
  font-size: 24px;
}

.text-bold {
  font-weight: 700 !important;
}
