// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

// Button customizations
p-button {
  filter: drop-shadow(7px 7px 4px rgba(0, 0, 0, .6));

  &:hover {
    cursor: pointer;
    background-color: scale-color(#198754, $lightness: -20%);
    transition: 220ms all ease-in-out;
    filter: drop-shadow(7px 7px 4px rgba(0, 0, 0, .3));
  }

  &:focus {
    filter: drop-shadow(7px 7px 4px rgba(0, 0, 0, .7));
  }
}


.disabled-btn {
  background-color: scale-color($med-green, $lightness: -20%);
  filter: drop-shadow();

  &:hover {}

  &:focus {
    filter: drop-shadow();
  }
}




.centered {
  text-align: center;
}


// Dropdown customizations
.p-dropdown {
  background-color: $dark-green !important;
  border-radius: 3px;
}

.p-dropdown-label.p-placeholder {
  color: $med-grey !important;
}

.p-dropdown-trigger-icon {
  color: $med-grey !important;
}

// Input Number Customizations

.product-page {
  & p-inputnumber {
    margin-left: 110px;
    margin-top: 5px;
  }

  .p-inputnumber-buttons-horizontal {
    line-height: 1;
  }

  & .number-input-btn {
    height: 30px;
    width: 30px;
  }

  & .input-style-class {
    height: 30px;
    width: 30px;
    padding: 0;
    text-align: center;
  }

  & .smaller-btn {
    font-size: 12px;
  }


  & .p-button-icon-only {
    width: 30px !important;
    height: 30px !important;
    padding: 5px 0 !important;
    background-color: $dark-green;

    & .pi-bars {
      font-size: 28px;
    }
  }
}
