// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

// Button customizations
p-button {
  filter: drop-shadow(7px 7px 4px rgba(0, 0, 0, .6));

  &:hover {
    cursor: pointer;
    background-color: scale-color(#198754, $lightness: -20%);
    transition: 220ms all ease-in-out;
    filter: drop-shadow(7px 7px 4px rgba(0, 0, 0, .3));
  }

  &:focus {
    filter: drop-shadow(7px 7px 4px rgba(0, 0, 0, .7));
  }
}


.see-more {
  & .p-ripple.p-element.p-button {
    background-color: $dark-green !important;
    border-radius: 5px !important;
  }
}

.disabled-btn {
  background-color: scale-color($med-green, $lightness: -20%);
  filter: drop-shadow();

  &:hover {}

  &:focus {
    filter: drop-shadow();
  }
}




.centered {
  text-align: center;
}


// Dropdown customizations
.p-dropdown {
  background-color: $dark-green !important;
  border-radius: 3px;
}

.p-dropdown-label.p-placeholder {
  color: $med-grey !important;
}

.p-dropdown-trigger-icon {
  color: $med-grey !important;
}

// Input Number Customizations
