<p-toast></p-toast>
<div class="admin-page">
  <p-card class="main-card" header="Products" subheader="List of all products">
    <div class="grid">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <p-button styleClass="p-button-success" label="New" icon="pi pi-plus" routerLink="form"></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <p-table [paginator]="true" [rowsPerPageOptions]="[10, 20, 30,{ showAll: 'All' }]" [totalRecords]="totalRecords"
          [(first)]="first" [rows]="10" [value]="products" styleClass="p-datatable-gridlines"
          [globalFilterFields]="['name','category.name','isFeatured','countInStock']" paginatorPosition="bottom">
          <ng-template pTemplate="caption">
            <div class="flex">
              <span class="p-input-icon-left p-ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')"
                  placeholder="Search keyword" />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th [pSortableColumn]="'name'">
                <div class="p-d-flex p-jc-between p-ai-center">
                  Name <p-sortIcon field="name"></p-sortIcon>
                  <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                </div>
              </th>
              <th>Image</th>
              <th>Price</th>
              <th>Stock</th>
              <th [pSortableColumn]="'category.name'">
                <div class="p-d-flex p-jc-between p-ai-center">
                  Category <p-sortIcon field="category.nam"></p-sortIcon>
                  <p-columnFilter type="text" field="category.name" display="menu"></p-columnFilter>
                </div>
              </th>
              <th [pSortableColumn]="'isFeatured'">
                <div class="p-d-flex p-jc-between p-ai-center">
                  Featured <p-sortIcon field="category.nam"></p-sortIcon>
                  <p-columnFilter type="text" field="isFeatured" display="menu"></p-columnFilter>
                </div>
              </th>
              <th [pSortableColumn]="'dateCreated'">
                Created<p-sortIcon field="dateCreated"></p-sortIcon>
              </th>
            </tr>
          </ng-template>


          <ng-template pTemplate="body" let-product>
            <tr>
              <td>{{ product.name }}</td>
              <td><img [src]="product.image" style="max-width: 75px" alt="" /></td>
              <td>{{ product.price }}</td>
              <td>
                <span *ngIf="product.displayCount?.pounds > 0 ||
                  product.displayCount?.ounces > 0 ||
                  product.displayCount?.grams > 0">
                  <span *ngIf="product.displayCount?.pounds > 0">{{ product.displayCount?.pounds }} lbs </span>
                  <span *ngIf="product.displayCount?.ounces > 0">{{ product.displayCount?.ounces }} ozs </span>
                  <span *ngIf="product.displayCount?.grams > 0">{{ product.displayCount?.grams }} gms</span>
                </span>
                <span *ngIf="product.displayCount?.pounds === undefined &&
                product.displayCount?.ounces === undefined &&
                product.displayCount?.grams === undefined">
                  {{product.countInStock}}

                </span>
              </td>
              <td>{{ product.category.name }}</td>
              <td>{{ product.isFeatured }}</td>
              <td>{{ product.dateCreated | date: 'short' }}</td>
              <td>
                <p-button (click)="updateProduct(product.id)"
                  styleClass="p-button-rounded p-button-success mr-2 table-button" icon="pi pi-pencil">
                </p-button>
                <p-button (click)="deleteProduct(product.id)"
                  styleClass="p-button-rounded p-button-danger mr-2 table-button" icon="pi pi-trash">
                </p-button>
              </td>
            </tr>
          </ng-template>
          <ng-template let-item pTemplate="paginatordropdownitem">
            {{item.value}} - per page
          </ng-template>
          <!--
          <ng-template pTemplate="paginatorleft" let-state>
            {{state.first}}
            <button type="button" pButton icon="pi-refresh"></button>
          </ng-template>
          <ng-template pTemplate="paginatorright">
            <button type="button" pButton icon="pi-cloud-upload"></button>
          </ng-template>
          <ng-template let-item pTemplate="paginatordropdownitem">
            {{item.value}} - per page
          </ng-template> -->


        </p-table>
      </div>
    </div>
  </p-card>
</div>
<p-confirmDialog [style]="{ width: '50vw' }" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>
